<footer class="page-footer blue-grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contact Me</h5>
        <p class="grey-text text-lighten-4">
          {{> social}}
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container mg-copyright">
    &copy; {{date format="YYYY"}} All Rights Reserved. <a class='cyan-text' target='_blank' href='http://ghost.org/'>mg</a> Theme by @HarveyZ. 
    <p class="grey-text text-lighten-4 right">Proudly published with <a class='cyan-text' target='_blank' href='http://ghost.org/'>Ghost</a>.</p>
    </div>
  </div>
</footer>