<a class='cyan-text lighten-5' target='_blank' href='https://github.com/ZhangHarvey'><i class="fa fa-github fa-lg"></i></a>&nbsp;
<a class='cyan-text lighten-5' target='_blank' href='http://weibo.com/zharvey'><i class="fa fa-weibo fa-lg"></i></a>&nbsp;
<a class='cyan-text lighten-5' target='_blank' href='https://plus.google.com/u/0/113137481078534635204'><i class="fa fa-google-plus fa-lg"></i></a>&nbsp;
<a class='cyan-text lighten-5' target='_blank' href='/rss'><i class="fa fa-rss fa-lg"></i></a>